/* External CSS */

/* body is a CSS Selector */
/* {} idicates a CSS Declaration */
body {
  /* property:value; is a CSS Rule */
  background-color: #fdfdfd;
  color: #0d0d0d;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.headerLogo {
  padding: 8px;
  border: 2px solid black;
  border-radius: 50%;
}

ul {
  display: flex;
  justify-content: end;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* MAIN */
main {
  height: 100vh;
}

.firstSection {

}

.card {
  width: 500px;
  /* height: 300px; */
  border: 2px solid black;
  display: flex;
} 

.cardText {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.cardLinks {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.cardImg {
  width: 50%;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
}
